.button {
    background: $purple-dark;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
}

.button--link {
    background: none;
}

.button--secondary {
    background: #888888;
}

.button--contact-form {
    background: $link-button;
    border: $darker-grey 0.1rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: $font-size-large;
    font-weight: bold;
    margin: 2rem 0;
    padding: 0.8rem 2rem;
}