.contact-form__label {
    color: $grey;

}

.contact-form__input {
    background-color: lighten($header-pink, 15%);
    border: $darker-grey 0.1rem;
    // border-radius: 0.5rem;
    //border-style: solid;
    font-size: $font-size-large;
    height: 3rem;
    width: 60%;
}

.contact-form__textarea {
    height: 10rem;
}