.about-dashboard {
    //background: white;
    border-radius: $m-size;
    padding: $s-size;
    text-align: center;
}

.about-dashboard-content {
    margin: 0 0 $l-size 0;
}

.green-background {
    //background-color: white;
    // margin: 0 -$m-size;
    margin: 0 (-$m-size);
    padding: $m-size;
    text-align: center;

    h2 {
        margin: $m-size 0;
    }
}