//Colors
$light-green: #EAFEFA;
$green: #00BE9A;
$dark-green: #00725D;
$light-grey: #FBFBFB;
$grey: #D9D9D9;
$dark-grey: #555555;

//Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;